{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>404</h1>
    <h3>Не унывай, думай, что ты в куртке!</h3>
    <blockquote>
        <br>
            Ты помнишь, холодной, осеннею ночью <br>
            Ветер гонял по асфальту окурки <br>
            Tы мне шептала:"Мне холодно,очень..." <br>
            Ну а мне заебись. Хорошо, что я в куртке.
        </br>
        
        <small>
            <cite title="Title">Джейсон Стетхам </cite>
        </small>
    </blockquote>
</div>

{% endblock %}