{% extends "base.html" %}

{% block content %}
<h1>Событие</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-3">Покупка</th>
        <th class="col-md-2">Стоимость</th>
        <th class="col-md-2">Участники</th>
        <th class="col-md-2">Владелец</th>
      </tr>
    </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" name="deleteCheckBox"/></td>
            <td>Шаверма</td>
            <td>180</td>
            <td>Лёнчик</td>
            <td>Тайный Санта</td>
          </tr>
          
          <tr>
            <td><input type="checkbox" name="deleteCheckBox"/></td>
            <td>Шаверма на тарелке</td>
            <td>195</td>
            <td>Лёнчик</td>
            <td>Тайный Санта</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="deleteCheckBox"/></td>
            <td>Шаверма в пите</td>
            <td>165</td>
            <td>Лёнчик</td>
            <td>Аркаша</td>
          </tr>
         </tbody>
    </table>
<p>
  <button type="button" class="btn btn-warning">Удалить выбранное</button>
</p>

<div class="form-group">
  <label class="control-label" for="focusedInput">Focused input</label>
  <input class="form-control" id="focusedInput" type="text" value="Добавить покупку...">
</div>

</div>
{% endblock %}