<!DOCTYPE html>
<html lang="en">


<!-- #Head. -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Materialize Landing Page</title>
    <link href="static/landing/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/landing/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<!-- #Let's Begin -->
<body>


<!-- #Hero Section -->
<div class="section section__hero" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m7">
                <h1 class="header">Тугрик</h1>
                <h3 class="header">меньше долгов - больше друзей</h5>
                <h5 class="header">будь как Ланистер</h3>
            </div>
            <div class="col s12 m5 gorilla"></div>
        </div>
        <div class="row center">
            <a id="cta__main" href="/login" class="btn btn-large">Войти &raquo;</a>
        </div>
    </div>
</div>

<!--  #Scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/landing/js/materialize.min.js"></script>
<script src="static/landing/js/init.js"></script>


</body>
</html>

