{% extends "base.html" %}

{% block content %}
<h1>Имя любимое твое</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <td>Done</td>
      <td>Название</td>
      <td>Стоимость</td>
    </tr>
    <tr>
      <td> <input type="checkbox" name="paidCheckBox"/> </td>
      <td>Table Cell</td>
      <td>Table Cell</td>
    </tr>
    <tr>
      <td> <input type="checkbox" name="paidCheckBox"/> </td>
      <td>Table Cell</td>
      <td>Table Cell</td>
    </tr>
    <tr>
      <td> <input type="checkbox" name="paidCheckBox"/> </td>
      <td>Table Cell</td>
      <td>Table Cell</td>
    </tr>
    <tr>
      <td> <input type="checkbox" name="paidCheckBox"/> </td>
      <td>Table Cell</td>
      <td>Table Cell</td>
    </tr>
    <tr>
      <td> <input type="checkbox" name="paidCheckBox"/> </td>
      <td>Table Cell</td>
      <td>Table Cell</td>
    </tr>
    <tr>
      <td> <input type="checkbox" name="paidCheckBox"/> </td>
      <td>Table Cell</td>
      <td>Table Cell</td>
    </tr>
    <tr>
      <td> <input type="checkbox" name="paidCheckBox"/> </td>
      <td>Table Cell</td>
      <td>Table Cell</td>
    </tr>
  </table>
</div>

<p>
  <button type="button" class="btn btn-primary">Submit</button>
</p>

{% endblock %}